@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 0;
}

body
{
    background-color: #fff;
}

header{
    padding: 20px;
   
}

section{
    padding: 70px 8px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    font-family: bold;
    font-size: 30px;
    font-weight: 200;
}

.logo-div{
    width: 30%;
   
}

.logo span{
    color: #F6D238;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 60%;
}

ul li {
    padding: 10px 25px;

}

ul li a {
    text-decoration: none;
    color: #999;
    transition: 0.5s;
    font-size: 14px;
}

ul li a:hover{
    background-color: #F6D238 ;
    padding: 15px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header{
    display: flex;
    justify-content: end;
    width: 30%;
}

.btn{
    background-color: #F6D238;
    color : #000;
    padding: 15px 30px;
    border: 1px #F6D238 solid;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0,0, 0, 0.1);
    transition: 0.5s;
}

.btn:hover{
    background-color: #F1F1F1;
    transform: rotate(5deg);
}

.btn i{
    margin-right: 5px;
}

/* Deuxieme partie sur la HOME-setion */

.home-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
}

.home-section .left {
    position: relative;
    height: 500px;
    width: 600px;

}

.home-section .left img{
    position: absolute;
    object-fit: cover;  /* a revoir */
    border: 8px solid #FFF;
    box-shadow: 5px 5px 30px rgba(0,0, 0, 0.1);
    border-radius: 2rem;
}

.home-section .left-img-1{
    width: 450px;
    height: 500px;
    transition: 0.5s;
}

.home-section .left-img-2{
    width: 350px;
    height: 350px;
    top : 150px;
    left: 250px;
    transition: 0.5s;

}

.home-section .left-img-1:hover{
    transform: scale(1.1) rotate(10deg);
}

.home-section .left-img-2:hover{
    transform: scale(1.1) rotate(10deg);
}


.right{
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .text-right{
    color: #F6D238;
    font-weight: bold;

}

.right h1{
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.right P{
    margin-top: 25px;
    color : #9999;
    width: 70%;
    font-size: 14Px;
}

.see-video{
    border: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;

}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.see-video span{
    margin-left: 25px;
    font-weight: bold;
}

.video-bg{
    margin-left: 20px;
    background: url(/image/img3.jpg);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    position: relative;
    box-shadow: 5px 5px 30px rgba(0,0, 0, 0.1);
}

.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0, 0, 0.1);
    right: -20px;
    transform: translate(-20%, 50%);
}

.play-btn i{
    color: #cf0711;
}

/* ############################################################################################################################" */

.gallerie{
    background-color: #99999907;
    display: flex;
    flex-direction: column;
}
.gallerie .gallerie-desc{
    width: 50%;
    margin: auto;
    text-align: center;
}

.gallerie .gallerie-desc h1{
    font-weight: bold;
}
.gallerie .gallerie-desc h2{
    color: #f6d338c2;
    font-weight: bold;
}

.gallerie .gallerie-desc P{
    font-weight: 250;
}
.container-gallerie{
    margin-top: 50px;
}
.container-gallerie .titre-container-gallerie{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.container-gallerie-image{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    margin: 0 auto;
    width: 80%;
    gap: 20px;
    justify-content: center;
}

.container-gallerie .container-gallerie-image .conrainer-unique-image{
    display: flex;
    flex-direction: column;
    background-color: #ffffffcb;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #99999949;
    margin: 5px;
    width: 100%;
    /* box-shadow: 5px 5px 30px rgba(0,0, 0, 0.05); */

}

.container-gallerie .container-gallerie-image .conrainer-unique-image .lieu, .para-desc, .titre-desc-gallerie, .prix-maison{
    margin-left: 15px;
}


.container-gallerie .container-gallerie-image .conrainer-unique-image .img-gallerie{
    width: 100%;
    max-height: 250px;
}
.container-gallerie .container-gallerie-image .conrainer-unique-image p{
    width: 85%;
    font-size: 15px;
}

.lieu{
    color: #F6D238;
    font-weight: 500;
}

.container-gallerie .container-gallerie-image .conrainer-unique-image .titre-desc-gallerie{
    width: 95%;
    margin-right: 5px;
    
}

.prix-maison{
    margin-bottom: 5px;
    padding: 10px;
    width: 0;
    font-weight: bold;

}

.prix-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.bouton-galerie{
    background-color: #000;
    color: #FFF;
    text-decoration: none;
    width: 200px;
    padding: 10px;
    margin-right: 5px;
    
}   

.btn-more-details-gallerie{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 40px;

} 

.btn-more-details-gallerie .btn-plus{
    text-decoration: none;
    padding: 15px;
    background-color: #F6D238;
    color: #000;
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0,0, 0, 0.05);
    transition: 0.5s;

}

.btn-more-details-gallerie .btn-plus:hover{
    
    text-decoration: underline;
}

/* ############################################" Section de pourquoi nous ####################################################" */
.why-us{
    background-color: #F6D238;
    opacity: 0.9;
    overflow: hidden;
}
.why-us .titre-para{
    width: 50%;
    margin: auto;
    text-align: center;
}

.why-us .titre-para h1{
    font-size: 2rem;
}

.why-us .details-why-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin: auto;
    gap: 10px;
    margin-left: 150px;
    margin-top: 50px;
}

.why-us .details-why-us .container-flex-why-us{
    display: flex;
    align-items: center;
    gap: 20px;
}

.why-us .details-why-us .container-flex-why-us .desc-details-why-us{
    width: 60%;
}

.why-us .details-why-us .container-flex-why-us .desc-details-why-us h2{
    margin-bottom: 5px;
}

.why-us .details-why-us .container-flex-why-us .desc-details-why-us p{
    font-weight: 200;
    line-height: 30px;
}

.barre{
    border-top: 1px solid #F6D238;
    opacity: 0.1;
}
 
.why-us .details-why-us .container-flex-why-us .icons-details-why-us .fa-book, .fa-ear-listen, .fa-buromobelexperte, .fa-handshake-angle{
    font-size: 50px;
}

/* #####################################"" SECTION BLOG ######################################"" */
.blog-section{
    margin-bottom: 0;
}
.section-texte-blog{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-bottom: 10px;
}

.blog-section .btn-blog{
    background-color: #99999988;
    color:#000;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

.container-blog{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.cadran-blog{
    display: flex;
    flex-direction: column;

}


.cadran-blog .img-blog img{
    max-width: 500px;
    max-height: 250px;
    object-fit: cover;
    border: 2px solid #F1F1F1;
    display: block;
    border-radius: 6px;
}

.cadran-blog h2{
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
}

.cadran-blog h2 a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    background-color: #000;
    transition: 0.5s;
}

.cadran-blog h2:hover{

    margin-top: 10px;
}
.cadran-blog h2 a:hover{
    
    background-color: #F6D238;
    color: #000;
    padding: 10px;
    transition: 0.5s;
}

/* BARRE DE SEPARATION */
.space{
    border-bottom: 1px solid #99999993;
}
/* SECTION FOOTER */

.container-footer-desc{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 50px;
    margin-left: 100px;
}

.container-footer-desc .footer-details{
    line-height: 50px;
}

.container-footer-desc .footer-details h1{
    font-size: 20px;
    font-weight: 500;
}

.container-footer-desc .footer-details p{
    font-weight: 300;
}

.footer-details a{
    text-decoration: none;
    color: #000;
}
.footer-details a:hover{
    color: #F6D238;
}
.img-apps{
    margin-top: 100px;
}
.img-play-store img{
    width: 180px;
}
.img-apple-store img{
    width: 180px;
}
