*{
    margin: 0;
}

.container-login{
    display: flex;

}

.login{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-login .hello{
    width: 50%;
    background-color: #f6d338e5 ;
    height: 100vh;
}

.container-login .hello .titre{
    width: 90%;
    margin: auto;
    margin-top: 250px;
}


.login .texte{
    text-align: center;
    /* margin-left: 200px; */
    margin: 50px;
    margin-top: 100px;
}

.login .formulaire{
    margin: 50px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-google img {
  width: 20px;
  height: 20px;
}

.btn-google:hover {
  background: #f7f7f7;
}


.formulaire form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulaire form input{
    width: 400px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;

}

.btn-input{
    background-color: black;
    color: #fff;
    cursor: pointer;
}